<footer>
    <div class="f-info">
        <div class="footer-icon">
            <a class="navbar-brand" href="/home"><i class="fa-solid fa-wheat-awn"></i>&nbsp;<h3 style="color: #294B29; display: inline;"><b>FarmPure</b></h3></a> <br />
            <p><i>Growing Together, Harvesting Success</i></p> <br />
        </div>
        <div class="footer-elements">
            <div >
                <h4 style="color: #294B29;"><b>USEFUL LINKS</b></h4>
                <a class="nav-link" href="/products">Products</a>
                <a class="nav-link" href="/guide">Farmers Guide</a>
                <a class="nav-link" href="/experts">Experts</a>
                <a href="/privacy" href="/privacy"class="nav-link">Privacy</a>
                <a href="/terms/conditions" class="nav-link">Terms and conditions</a>
            </div> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div >
                <h4 style="color: #294B29;"><b>CONTACT DETAILS</b></h4>
                <i class="fa-solid fa-envelope media"></i> farmpure@gmail.com <br />
                <i class="fa-solid fa-envelope media"></i> experts@gmail.com &nbsp;&nbsp; <br />
               <i class="fa-solid fa-headset media"></i> Support Team (10:00am to 6:00pm)  
            </div> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div >
                <h4 style="color: #294B29;"><b>GET CONNECTED AT</b></h4>
                <i class="fa-brands fa-square-instagram media"></i> Instagram <br />
                <i class="fa-brands fa-facebook media"></i> Facebook <br />
                <i class="fa-brands fa-x-twitter media"></i> Twitter &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div> 
        <div style="text-align: center; bottom: 0; width: 100%; margin-top: 2rem;"> <b>&copy; FarmPure</b></div>

    </div>
</footer>