<% layout("/layouts/boilerplate.ejs") %>

<h5 class="home-wel">
    Welcome to <b><i class="fa-solid fa-wheat-awn wel-icon"></i>FarmPure's</b> Farmers guide
    where you are given knowledge, with some tips and tricks to do smart and profitable farming.
</h5>

<br>

<h3 style="color: #294B29; font-weight: bold;">Basic Agriculture Practices</h3>
<hr>
<p>
    In agriculture, there are certain parameters to be considered such as the type of crop, properties of soil, 
    climate etc. Depending upon these parameters, farmers should decide which crop is to be cultivated at what time 
    of the year and place. Moreover, to yield a high-quality product, suitable soil, climate and season are not 
    sufficient. It requires a set of procedures which needed to be followed. The measures which are followed to 
    raise crops are called agricultural practices. Different agricultural practices are discussed below.
</p>

<h4 class="headings">1. Soil preparation</h4>
<img src="https://images.unsplash.com/photo-1615811361523-6bd03d7748e7?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwNjUyNjU2OQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="soil-preparation" class="images"/>
<p>
    Before raising a crop, the soil in which it is to be grown should be prepared by ploughing, levelling, 
    and manuring. Ploughing is the process of loosening and digging of soil using a plough. 
    This helps in proper aeration of the soil. After ploughing, the soil is distributed evenly and 
    levelled in the process called levelling. The soil is then manured.
</p>

<h4 class="headings">2. Sowing</h4>
<img src="https://images.unsplash.com/photo-1621459565612-97fb9e4ed9d9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwNjMyNTE4Mg&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="sowing-img" class="images"/>
<p>
    Selection of seeds of good quality crop strains is the primary stage of sowing. After the preparation 
    of soil, these seeds should be dispersed in the field and this is called sowing. Sowing can be done manually, 
    by hand or by using seed drilling machines. Some crops like paddy are first grown into seedlings in a 
    small area and then transplanted to the main field.
</p>

<h4 class="headings">3. Manuring</h4>
<img src="https://images.unsplash.com/photo-1492496913980-501348b61469?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwNjUyNzQ4MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="manure-img" class="images"/>
<p>
    Crops need nutrients to grow and produce yield. Thus, the supply of nutrients at regular intervals is 
    necessary. Manuring is the step where nutritional supplements are provided and these supplements may be 
    natural (manure) or chemical compounds (fertilizers) but organic manure has more advantages and is preffered to use. 
    Manure is the decomposition product of plant and animal wastes.
     Fertilizers are chemical compounds thus not preffered to use at some extent but nowadays organic fertilizers are also coming
    Apart from providing nutrients to crop, manure replenishes soil fertility as well. Other 
    methods for soil replenishment are vermicompost, crop rotation, planting of leguminous plants.
</p>

<h4 class="headings">4. Irrigation</h4>
<img src="https://images.unsplash.com/photo-1609583120830-7ede0764d401?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwNjUyNzU2Mw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="irrigation-img" class="images"/>
<p>
    Irrigation is the supply of water. Sources of water can be wells, ponds, lakes, canals, dams etc. 
    Over irrigation may lead to waterlogging and damage the crop. This frequency and interval between 
    successive irrigation need to be controlled.
</p>

<h4 class="headings">5. Weeding</h4>
<p>
    Weeds are unwanted plants which grow among crops. They should be removed by using weedicides, by manually 
    pulling them with hands and some are removed during soil preparation.
</p>

<h4 class="headings">6. Harvesting</h4>
<p>
    Once the crop is matured, it is cut and gathered, this process is called harvesting. Followed by 
    harvesting, grains are separated from the chaff either by threshing, or manually in small scale (winnowing).
</p>

<h4 class="headings">7. Storage</h4>
<img src="https://images.unsplash.com/photo-1645331465778-eb409d112198?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGdyYWlucyUyMGJhZ3xlbnwwfHwwfHx8Mg%3D%3D" alt="storage-img" class="images"/>
<p>
    Grains yielded should be stored in godowns or any room for later usage or marketing. Therefore, 
    methods of crop protection need to be better. In order to protect grains from pest and rodents- cleaning,
    drying, fumigation, etc., are done prior to storing.For successful agriculture, 
    proper methods and practices are to be followed.
</p>

<hr>

<h3 class="headings">Organic Farming</h3>
&nbsp;
<h4 class="headings">What is organic farming?</h4>
<p>Organic farming is a method of agricultural production that emphasizes <b>working with natural processes</b> to grow crops and raise animals. In simple terms, it involves farming practices that <b>avoid the use of synthetic chemicals, such as pesticides, herbicides, and fertilizers, and instead rely on natural methods to maintain soil fertility, control pests and diseases</b>, and promote healthy growth.</p>
<h4 class="headings">Why to do Organic Farming?</h4>
&nbsp;
<h6 class="headings">Organic Farming is practised and preffered to: </h6>
<p> <b>1.</b> Preserve the environment by minimizing chemical use, reducing soil erosion, and promoting biodiversity. <br />
    <b>2.</b> Protect human health by avoiding exposure to synthetic pesticides and herbicides. <br />
    <b>3.</b> Produce healthier food choices free from artificial additives, pesticide residues, and GMOs. <br />
    <b>4.</b> Support animal welfare through humane treatment and natural farming practices. <br />
    <b>5.</b> Enhance climate resilience by sequestering carbon, reducing greenhouse gas emissions, and promoting sustainable practices. <br />
    <b>6.</b> Meet consumer demand for ethically produced, environmentally friendly, and nutritious food products. <br />
    <b>7.</b> Create a more sustainable and resilient food system for future generations.
 </p>
 <h4 class="headings">What are the Benefits of Organic Farming?</h4>
 <p> <b>1. Higher Profit Margins:</b> While organic farming may require more labor-intensive practices, such as manual weeding and pest management, it can result in higher profit margins due to premium prices for organic products. Farmers can capitalize on consumer willingness to pay more for organic produce, leading to increased profitability.</p>
 <p> <b>2. Enhanced Soil Health:</b> Organic farming practices improve soil structure, fertility, and microbial activity over time. Healthy soils support vigorous plant growth, reduce nutrient leaching, and provide a stable foundation for sustainable agriculture. As a result, organic farmers can achieve long-term productivity and resilience without depleting soil resources.</p>
 <p> <b>3. Access to Niche Markets:</b> Organic farmers have access to niche markets, including farmers' markets, community-supported agriculture (CSA) programs, and organic food cooperatives. These direct marketing channels allow farmers to establish closer relationships with consumers, receive higher prices for their products, and capture a larger share of the retail value.</p>
 <p> <b>4. Healthier Food: </b> Organic produce contains fewer pesticide residues and artificial additives, offering consumers nutritious and safe food choices that support overall well-being.</p>
 <p> <b>5. Market Demand and Premium Prices: </b> Growing consumer awareness and demand for organic products offer farmers opportunities for market differentiation, premium prices, and access to niche markets.</p>
 <p><b>And so on there are many benefits...</b></p>

 <h4 class="headings"> Transition to Organic Farming</h4>
 <p><b><u>NOTE:</u> If you’re already running a farm, or have a small garden on your property, and you want to make the switch to organic farming, be warned that there are many obstacles you’ll face. This shift may take time, but this challenge is acceptible and it acn be dome with proper guidelnes and a plan</b></p>
 <h4 class="headings"> Tips for Organic Farming</h4> <br />
 <h4 class="headings"> Step 1 - Considerations for organic farming</h4> 

 <p>The first step is to review your situation and understand what exact considerations, unique to your situation, need to be accounted for. These includes: </p>  <br />

<p>
<b>* Location of the land</b>
Farm characteristics: size, plots and crops distribution, which kind of crops, trees, animals are integrated in the farm system. <br />
<b>* Soil Analysis:</b> an evaluation of the soil structure, nutrient levels, organic matter content, erosion level, and/or the soil have been contaminated <br />
<b>* Climate:</b> rainfall distribution and quantity, temperatures, frost risks, humidity. <br />
<b>* </b>Organic matter sources and management (manures) <br />
<b>* </b>Presence of animal housing systems and/or machinery. <br />
<b>* </b>Limiting factors such as capital, labour, market access, among others. <br />
<b>* Farm-specific challenges</b> <br />
&nbsp; <b>=> High-input farms</b> - if you are relying on a lot of external inputs, consider how you can shift these to a more natural, self-sustaining farm system <br />
&nbsp; <b>=> Low-input farms</b> - if you are already using natural inputs and recycling, you need to review these practices and look to create a formal process or system to improve the efficiency and productivity of your actions
</p>

<h4 class="headings">Step 2 - Gather Information</h4>
<p>
    Take the time to learn organic farming practices relevant to you. For example, what does organic farming look like if you grow root vegetables? What do you need to do if you run an orchard? What about if you’re raising cattle
    You should also take the time to learn the different organic farming practices - composting, organic pest management,etc. 
</p>

<h4 class="headings">Step 3 - Crop selection</h4>
<p>Once you’ve got a good understanding of organic farming, you’ll want to choose the appropriate crops. This will depend on a few things, such as what your property can actually sustainand many more.</p>
<p>During this step, you’ll also need to consider the equipment needed to manage the crops you choose or consider how to maintain the crops and whether it is a viable option for you based on the resources you have available.</p>

<h4 class="headings">Step 4 - Mulching</h4>
<p>Mulching plays a crucial role in preventing soil erosion. By covering the topsoil in natural plant materials, surface runoff can be prevented when it rains. As the material decomposes it boosts the amount of organic matter in the soil, helping create a stable structure.</p>
<p>When choosing your mulch, you’ve got plenty of options:</p>
<ul>
    <li>
        Weeds or cover crops 
    </li>
    <li>
        Crop residues  
    </li> 
    <li>
        Grass, pruning material from trees and hedges
    </li>
    <li>
        Wastes from agricultural processing or from forestry
    </li>
</ul>

<p>For best results, mulch before the wet season, don’t apply too thick of a layer, and spread evenly across the field. </p>

<h4 class="headings">Step 5 - Water management</h4>
<p>
    For a lot of us, water management is a big reason why we go organic. Scarcity of water is an issue around the world, so the more efficiently we use it the better.
</p>
<p>Water management focuses on three principles:</p>
<ul>
    <li>Water retention</li>
    <li>Water harvesting </li>
    <li>Water storage</li>
</ul>
<p>When going organic it’s crucial you think about how you can achieve these three goals. Again, how you do this will depend on your unique situation so take the time to review your current situation and research ways you can improve in each area.</p>

<h4 class="headings">Step 6 - Crop planning</h4>
<p>
    With traditional farming, it’s a bit easier to plant a variety of crops, especially when you have plenty of space. 
</p>
<p>
    In an organic system, planning your crops is much more important to success. Crop rotation (planting different crops in the field from season to season) and intercropping (planting different crops in close proximity to each other) are two methods that will help improve soil health and fertility.
</p>
<p>It’s also vital that you keep good, accurate and detailed records of your crops. You want to ensure that, over time, you are maintaining soil health and recording crop yields to continually improve your results.</p>

<h4 class="headings">Step 7 - Nutrient management</h4>
<p>Ensuring soil fertility is a key goal of nutrient management. As crops grow and animals graze, nutrients are removed from the land and must be replaced.</p>
<p>n traditional farming, nitrogen-based fertilisers are great for this but, in an organic system, you’ll need to look at other methods. Green manure (plants grown for the purpose of building nutrients in the soil), animal manure and organic fertilisers can be used, depending on your needs and situation.</p>
<p>Composting also plays a large role here, helping turn organic material into natural fertiliser. </p>

<h4 class="headings">Step 8 - Pest management</h4>
<p>Organic farming focusses on prevention rather than cure - it’s about identifying the cause and removing it before it becomes a problem.</p>
<p>When it comes to pest management, the following solutions are available to organic farmers:</p>
<ul>
    <li>Planting disease-resistance crops</li>
    <li>Choosing crops that are right for local conditions</li>
    <li>Using mixed cropping systems so pests have less host plants to choose from</li>
    <li>Rotate crops to reduce the chance of soil-borne disease</li>
    <li>Use a balanced nutrient management system. Plants that grow steadily are more immune to disease</li>
    <li>Increase organic inputs to boost biodiversity and the presence of beneficial organisms</li>
    <li>Provide a healthy environment for pest-controlling species to prosper</li>
    <li>Use proper sanitation methods </li>
</ul>

<h4 class="headings">Step 9 - Soil management</h4>
<p>When it comes to soil management for organic farms, the focus is on:</p>
<p>Creating good growing conditions for plants by</p>
<ul>
    <li>Improving aeration</li>
    <li>Loosening the soil</li>
    <li>Encouraging activity of soil organisms</li>
    <li>Increasing water filtration</li>
    <li>Managing pests and weeds, among other things</li>
</ul>
<p>
Minimum disturbance
Reducing soil compaction
</p>

<p>
    There is no one right way to cultivate the soil, but a range of options. When going organic, be sure to learn more about good soil management practices for your specific situation, crops, and location. 
</p>

<h4 class="headings">Step 10 - Animal Care</h4>
<p>If you have animals like cows or buffaloes at you farm than it is your responsibility to take care of them properly.</p>
<p>Taking proper care of animals is also a key feature as they are part of our family.</p>
<br />
<h5 class="headings">So, it was some what about Organic farming with it's practices.More information will be publishing soon...</h5>
<h5 class="headings"><i>For, further more guidance check our experts section.</i></h5>