<% layout("/layouts/boilerplate.ejs") %>

<h5 class="home-wel">
    Welcome to <b><i class="fa-solid fa-wheat-awn wel-icon"></i>FarmPure</b> Where the fields meet your table,
    and every harvest tells a story of quality and care.Let's cultivate a journey of flavor 
    and nourishment together, where freshness is a promise and sustainability is a way of life.
</h5>

<h2 class="About">About Us</h2>
<hr>
<p>
    Farmpure is free online Agri Market where one can Buy,Sell or Advertise fruits & vegetables.
    Now farmers can sell their products directly to the consumers or any other
    Group of Co-operative Societies , Citizen Associations etc.. via FarmPure.
    Motto of FarmPure is to Empowering Farmers, Always! So that they can Enjoy our platform 100% free –
    because growing success shouldn't cost a dime. Your farm, your rules, our support!
    <br><br>
    On Farmpure farmers can submit their details of all the organic products which they grow on their
    farms or else if they are making any organic products so that they can sell their products directly
    to the consumer and can earn maximum profit.
    <br><br>
    Also we are trying to aware the farmers about new modern technologies, smart farming and many more things
    with the help of articles or else they are connected to the specialized person without charging
    any thing from them, so that they can be given best of knowledge about farming.
</p>
<hr>
<h2 class="About">Our Values</h2>
&nbsp;

<div class="values">
    <h4>Empowering Farmers | Sowing Seeds of Success | Connecting Farmers</h4>
</div>

&nbsp;

<div class="img-content">
        <img src="https://www.clipartkey.com/mpngs/m/292-2922123_img-indian-farmer-cartoon-png.png" alt="farmer" class="farmer-img">
        <div class="img-text">
            <ul>
                <h4><li><b>Dedicated to Farmer Well-being</b></li></h4>
                <p>Our relentless focus lies in comprehending the needs of our farmers, crafting solutions that elevate their income, and enhance their quality of life.</p>
            </ul>
            <ul>
                <h4><li><b>Empowering Farmers at the Core</b></li></h4>
                <p>Farmer empowerment is not just a principle; it's the heart of our mission. We prioritize the empowerment of our farmers in every technological intervention and product development we undertake.</p>
            </ul>
            <ul>
                <h4><li><b>Innovating for Farmer Success</b></li></h4>
                <p>We push past conventional limits to offer solutions that truly count. Through ideation, innovation, and a farmer-centric approach, we endeavor to deliver simple yet impactful solutions that endure.</p>
            </ul>
        </div>
</div>

<hr>
<h2 class="About">What is Expert Section?</h2>
<h5><b>Farmpure</b> is with exciting feature where farmers can interact with best and knowledgable people in the field of agriculture.</h5> <br/>
<p>All you have to do is , login than go to <a href="/experts">Experts</a> section Click on message icon and ask your doubt to expert of a particular field.</p>
<p>It is a community based chat feature so everyone can see doubts of one another and can get solution as fast as possible.</p>
<p>All the farmers are free to message experts as there are no charges of getting solutions of your doubts , but note that there might be some time taken by experts to message individulas so have patience and if one has correct solution they can message that will be reviewed by expert surely. </p>
<p><b><u>NOTE: </u></b>All the users are informed that chat feature is specifically made only for Farmers with an intention to help them and farmers are requested to message doubts which are genuine along with proper discipline in chat section as record of each chat is being taken.</p>
<p>We are going to launch some more updates and exciting feature soon to help our users so,stay tuned with us. </p>
<p>Thank You.</p>
<hr>

<h3 class="About">Newest Entries on Farmpure & More Coming Soon...</h3>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 mt-3 ">
    <a href="/products/66127ccbe6e1a24a50868f16"class="card-link">
        <div class="card offset-1 product-card" style="width: 20rem">
            <img src="https://images.unsplash.com/photo-1580823673202-ef0405ae5b52?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwNjMyNTgyMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" class="card-img-top" alt="product_image" style="height: 18rem" >
            <div class="card-img-overlay"></div>

            <div class="card-body">
                <p class="card-text">
                Nature's Best Avocado<br />
                &#8377; 500 <span class="vary-price"><i>*Prices may vary as per quantity</i></span><br />
                </p>
            </div>
        </div>
    </a>

    <a href="/products/66127ccbe6e1a24a50868f20"class="card-link">
        <div class="card col offset-1 product-card" style="width: 20rem">
            <img src="https://images.unsplash.com/photo-1616429266184-7455498d96db?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwNjMyNjExNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" class="card-img-top" alt="product_image" style="height: 18rem" >
            <div class="card-img-overlay"></div>

            <div class="card-body">
                <p class="card-text">
                Kesar<br />
                &#8377; 900 <span class="vary-price"><i>*Prices may vary as per quantity</i></span><br />
                </p>
            </div>
        </div>
    </a>

    <a href="/products/66127ccbe6e1a24a50868f12"class="card-link">
        <div class="card col offset-1 product-card" style="width: 20rem">
            <img src="https://images.unsplash.com/photo-1587049352851-8d4e89133924?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcwMDk3NTQzNA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" class="card-img-top" alt="product_image" style="height: 18rem" >
            <div class="card-img-overlay"></div>

            <div class="card-body">
                <p class="card-text">
               Pure Honey<br />
                &#8377; 600 <span class="vary-price"><i>*Prices may vary as per quantity</i></span><br />
                </p>
            </div>
        </div>
    </a>
</div>
