<% layout("./layouts/boilerplate.ejs") %>
<h2 style="text-align: center;"><b>Privacy Policy</b></h2>
<h4 style="color:#294B29; margin-top: 2rem;"><b>Your Privacy Is Important For Us</b></h4>
<br />

<p>
    It is FarmPure's policy to respect your privacy regarding any information we may collect while operating our website.We respect your privacy and are committed to protect our users in best possible way while using FarmPure's web services.
    We have adopted this privacy policy to explain what information may be collected on our Website, how we use this information to give users a better experience.
</p>
<br />

<h3><b>SignUp on FarmPure</b></h3>
<p>
    If you sign up for our service, we will ask you for your name , email and necessary credentials. The purpose of the processing is to allow you access to our services and to provide the services to you.
    The purpose is additionally to reach you with important notifications and updates regarding the service.
</p>
<br />

<h3><b>Security</b></h3>
<p>
    Your security is important for us. But, remember no method of transmission on internet is absolutely safe.
    We'll protect your personal information but we cannot guarantee absolute security.
</p>
<br />

<h3><b>Links To External Sites</b></h3>
<p>
    Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site.
    We strongly advise you to review the Privacy Policy and terms and conditions of every site you visit.
    <br /><br />
    We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.
</p>
<br />

<h3><b>Cookies</b></h3>
<p>
    To enrich and perfect your online experience, FarmPure uses Cookies, similar technologies and services provided by others to display personalized content, appropriate content and accordance with your preferences on your computer.
    It is not meant to harm your personal information rather made for providing user a better experience.
</p>
<br />

<p>
    <i>
        At FarmPure, we prioritize transparency and integrity in everything we do. Your satisfaction and trust are our top priorities.
    </i>
</p>