<% layout("/layouts/boilerplate.ejs") %>
<h4  style="text-align: center;"><b>NOTE: Information here may vary so, ensure before applying for any scheme</b></h4>
<div class="container-scheme">
    <div class="container-rows title">
        <div class="container-data">
            <p>Schemes</p>
        </div>
        <div class="container-data">
            <p>Purpose</p>
        </div>
        <div class="container-data">
            <p>Link</p>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>Pradhan Mantri Kisan MaanDhan Yojana (PM-KMY)</p>
        </div>
        <div class="container-data">
            <p>
                PM-KMY is contributory scheme, launched on 12th September 2019 for small and marginal farmers (SMFs), subject to exclusion criteria, can opt to become member of the scheme by paying monthly subscription to the Pension Fund. Similar, amount will be contributed by the Central Government.
                The applicants between the age group of 18 to 40 years will have to contribute between Rs. 55 to Rs. 200 per month till they attain the age of 60. PMKMY is taking care of the farmers during their old age and provides Rs. 3,000 monthly pension to the enrolled farmers once they attain 60 years of age, subject to exclusion criteria.
                Life Insurance Corporation (LIC) is pension fund manager and registration of beneficiaries is done through CSC and State Govts.
                So far 23.38 lakh farmers have enrolled under the scheme.
            </p>
        </div>
        <div class="container-data">
            <a href="https://maandhan.in/">Maandhan Yojana</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>Pradhan Mantri
                Kisan Samman Nidhi (PM-KISAN)</p>
        </div>
        <div class="container-data">
            <p>
                Under the scheme, financial benefit of Rs. 6000/- per year is transferred in three equal four-monthly installments into the bank accounts of farmers’ families across the country, through Direct Benefit Transfer (DBT) mode. Till now, Rs.
                2.81 lakh crores have been transferred through Direct Benefit Transfer (DBT) to more than 11 crores beneficiaries (Farmers) through various instalments.
            </p>
        </div>
        <div class="container-data">
            <a href="https://pmkisan.gov.in/">PM-Kisan Samman Nidhi</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>National beekeeping and Honey Mission (NBHM)</p>
        </div>
        <div class="container-data">
            <p>
                Keeping in view the importance of beekeeping, a new Central Sector Scheme entitled National Beekeeping & Honey Mission (NBHM) was launched in 2020 under Atma Nirbhar Bharat Abhiyan for its implementation in the field for overall promotion and development of scientific beekeeping & to achieve the goal of “Sweet Revolution”.
            </p>
        </div>
        <div class="container-data">
            <a href="https://nbb.gov.in/default.html">National beekeeping and Honey Mission (NBHM)</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>Soil Health Card (SHC)  </p>
        </div>
        <div class="container-data">
            <p>
                Soil health card provides information to farmers on nutrient status of their soil along with recommendation on appropriate dosage of nutrients to be applied for improving soil health and its fertility. The indicators are typically based on farmers' practical experience and knowledge of local natural resources. The card lists soil health indicators that can be assessed without the aid of technical or laboratory equipment. The Scheme rolls out a decentralized system of soil testing which will help in developing a nationwide soil fertility map on a GIS platform that can easily be integrated with the real time decision support systems being developed. In order to develop the soil fertility map, Government of India has decided to conduct 5 Crore Soil Samples across the country during year 2023-
                24 to 2025-26.
            </p>
        </div>
        <div class="container-data">
           <a href="https://soilhealth.dac.gov.in/home">Soil Health Card</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>Paramparagat Krishi Vikas Yojana (PKVY)</p>
        </div>
        <div class="container-data">
            <p>
                Paramparagat Krishi Vikas Yojana (PKVY) aims to increase soil fertility and thereby helps in production of healthy food through organic practices without the use of agro-chemicals. The scheme is implemented in a cluster mode with unit cluster size of 20 hectares. A group shall comprise minimum 20 farmers (may be more if individual holdings are less). Farmers in a group can avail benefit of maximum of 2 ha as per provision of PKVY. 25 such clusters are converted into one large cluster of about 500 ha area to facilitate marketing of organic produce. The scheme provides for an assistance of Rs. 31,500 per ha to states, out of which i.e., Rs. 15,000 is given
                as incentives to a farmer directly through DBT.
            </p>
        </div>
        <div class="container-data">
            <a href="https://dmsouthwest.delhi.gov.in/scheme/paramparagat-krishi-vikas-yojana/">Paramparagat Krishi Vikas Yojana (PKVY)</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>National Mission on Edible Oils (NMEO)-Oil Palm</p>
        </div>
        <div class="container-data">
            <p>
                A new Centrally Sponsored Scheme namely, National Mission on Edible Oil (NMEO)-Oil Palm (NMEO-OP) has been launched by Government of India in 2021 in order to promote oil palm cultivation for making the country Aatamnirbhar in edible oils with special focus on North-Eastern States and A&N Islands. The Mission will bring additional area of 6.5 lakh ha under Oil Palm plantation with
                3.28 lakh ha in north-eastern states and 3.22 in rest of India in next 5 years from 2021-22 to 2025-26.
            </p>
        </div>
        <div class="container-data">
            <a href="https://nmeo.dac.gov.in/">National Mission on Edible Oils (NMEO)-Oil Palm</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>Per Drop More Care</p>
        </div>
        <div class="container-data">
            <p>
                Per Drop More Crop (PDMC) scheme was launched in the year 2015-16 which aims
                to increase water use efficiency, reducing cost of inputs and increasing productivity at the
                farm level through Micro Irrigation technologies i.e. drip and sprinkler irrigation systems. So
                far, an area of 81.87 lakh hectare has been covered under Micro irrigation through the PDMC
                scheme from the year 2015-16 and central assistance of Rs. 18,893.74 crore has been
                released.
            </p>
        </div>
        <div class="container-data">
            <a href="https://pmksy.gov.in/microirrigation/index.aspx">Per Drop More Care</a>
        </div>
    </div>


    <div class="container-rows">
        <div class="container-data">
            <p>National Agriculture Market ( e-NAM) extension Platform</p>
        </div>
        <div class="container-data">
            <p>
                i. 1388 Mandis of 23 States and 04 UTs have been integrated to e-NAM platform. (27
                additional mandis have been integrated with e NAM which included J&K (6) Madhya
                Pradesh (3) Maharashtra (14) Uttrakhand (4).<br /><br />
                ii. As on 31st Oct 2023, 1.76 crore Farmers & 2,49,903 traders have been registered on
                e-NAM portal. Total volume of 8.47 Crore MT & 29.25 Crore numbers (bamboo, betel
                leaves, coconut, lemon & sweet corn) collectively worth approximately Rs. 2.98 lakh
                crore of trade has been recorded on e-NAM platform. 
            </p>
        </div>
        <div class="container-data">
            <a href="https://www.enam.gov.in/web/">National Agriculture Market ( e-NAM) extension Platform</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>Pradhan Mantri Fasal Bima Yojana (PMFBY)</p>
        </div>
        <div class="container-data">
            <p>
                PMFBY was launched in 2016 in order to provide a simple and affordable crop insurance product to ensure comprehensive risk cover for crops to farmers against all non-preventable natural risks from pre-sowing to post-harvest and to provide adequate claim amount. The scheme is demand driven and available for all farmers A total of 5549.40 lakh farmer applications were insured under the
                scheme since 2016-17 and Rs 150589.10 crore has been paid as claim.
            </p>
        </div>
        <div class="container-data">
            <a href="https://pmfby.gov.in/?error=true">Pradhan Mantri Fasal Bima Yojana (PMFBY)</a>
        </div>
    </div>

    <div class="container-rows">
        <div class="container-data">
            <p>Agri Infrastructure Fund (AIF)</p>
        </div>
        <div class="container-data">
            <p>
                A one Lakh Crore,Agriculture Infrastructure Fund (AIF) scheme was launched with an
                objective to mobilize a medium - long term debt financing facility for investment in viable
                projects for post-harvest management Infrastructure and community farming assets through
                incentives and financial support in order to improve agriculture infrastructure in the country.
                Interest Subvention and Credit Guarantee supports are being provided under Agri Infra Fund. 
            </p>
        </div>
        <div class="container-data">
           <a href="https://agriinfra.dac.gov.in/">Agri Infrastructure Fund (AIF)</a>
        </div>
    </div>
    <h4><b>More Schemes Adding Soon...</b></h4>
</div>