<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="row">
        <div class="col-8 offset-3">
            <br>
            <h2>Add a Product</h2>
            <br>

            <form method="POST" action="/products" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label"><b>Title</b></label>
                    <input name="product[title]" placeholder="Enter title" type="text" class="form-control" required/> 
                
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter title of product</div>
                </div>
        
                <div class="mb-3">
                    <label for="description" class="form-label"><b>Description</b></label>
                    <textarea name="product[description]" placeholder="Enter description" class="form-control" rows="4" cols="8" required></textarea>
                
                    <div class="invalid-feedback">Please enter description of product</div>
                </div>
        
                <div class="mb-3">
                    <label for="image" class="form-label"><b>Upload Image</b></label>
                    <input name="product[image]" placeholder="Upload image " type="file" class="form-control" required/> 
                </div>
        
                <div class="row">
                    <div class="col-4 mb-3">
                        <label for="price" class="form-label"><b>Price</b></label>
                        <input name="product[price]" placeholder="1100" class="form-control" min="1" type="number" required/> 
                    
                        <div class="invalid-feedback">Please enter a valid price of product</div>
                    </div>
    
                    <div class="col-8 mb-3">
                        <label for="country" class="form-label"><b>Country</b></label>
                        <input name="product[country]" placeholder="India" type="text" class="form-control" required/> 
                    
                        <div class="invalid-feedback">Please enter country of product</div>
                    </div>
                </div>

                    <div class="mb-3">
                        <label for="location" class="form-label"><b>Location</b></label>
                        <input name="product[location]" placeholder="Gir , Gujarat" type="text" class="form-control" required/> 
                    
                        <div class="invalid-feedback">Please enter location of product</div>
                    </div>

                    <div class="mb-3">
                        <label for="contact" class="form-label"><b>Contact</b></label>
                        <input name="product[contact]" placeholder="+91 987XXXXXXX" type="Number" class="form-control" required/> 
                    
                        <div class="invalid-feedback">Please enter your contact number</div>
                    </div>
                    <br>
                    <button class="btn btn-md btn-dark form-btn">Add</button>
                    <br><br>
            </form>
        </div>
    </div>
</body>
